@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --main-font : 'Kumbh Sans', sans-serif;
    --dark-blue : hsl(220, 13%, 13%);
    --dark-grayish-blue : hsl(219, 9%, 45%);
    --grayish-blue : hsl(220, 14%, 75%);
    --light-grayish-blue : hsl(223, 64%, 98%);
    --white : hsl(0, 0%, 100%);
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    font-family: var(--main-font); 
}

body{
    font-size: 1.2rem;
}

.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-block: 2rem;
    padding-inline:  min(8rem, 5vw);
}

.primary-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  min(3rem, 3vw);
}

.logo{
    height: 1.7rem;
}

.nav-items{
    display: flex;
    gap:  min(2rem, 2vw);
    list-style: none;

}

.nav-items li a{  
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.secondary-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(3rem, 3vw);
}

.cart-img{
    cursor: pointer;
}

.avatar{
    height: 3.2rem;
    cursor: pointer;
}

.close-menu, .hamburger{
    display: none;
}

/*``````````````CART DESCRIPTION````````````````````*/
.cart-desc{
    display: none;
    position: absolute;
    right: min(8rem, 5vw);
    top: 5.7rem;
    width: 20rem;
    border-radius: 0.5rem;
    font-weight: 700;
    box-shadow: 0.4em 0.4em .4em  rgba(0, 0, 0, 0.253), -0.3em 0 .4em rgba(0, 0, 0, 0.2);
    background-color: white;
    font-size: 1rem;
}

.cart-heading{
    padding: 1rem;
}

.cart-status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    color: var(--dark-grayish-blue);
}

.cart-desc.active-cart{
    display: block;
}

/*``````````````````MOBILE DESIGN``````````````````*/


@media only screen and (max-width : 890px){
.nav-items{
    display: none;
}

.hamburger{
    display: block;
    cursor: pointer;
    height: 1.5rem;
}
    
          /*````````MOBILE MENU`````````*/

.hamburger.active{
    display: none;
}

.logo.active {
    display: none;
}
.primary-nav.active{
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    height: 100vh;
    width: 70vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-block: 2rem;
    padding-left: 2.1rem;
    background-color: white;
    justify-content: flex-start;
    z-index: 5;
}

.nav-items.active{
    display: block;
}

.nav-items.active li a{ 
    display: block; 
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.close-menu.active {
    display: block; 
    text-align: left;
    height: 1rem;
    cursor: pointer;
    height: 1.5rem;
}

}


/*````````````````````````````````````````````````````*/
@media only screen and (max-width : 550px){
.header{
    padding-block: 1.5rem;
}

.hamburger{
    height: 1.2rem;
}
    
.logo{
    height: 1.5rem;
}

.avatar{
    height: 2rem;
}

/*```````````CART````````````````*/

.cart-desc{
    display: none;
    width: 80vw; 
}

}

