.container{
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-inline: min(10rem, 7vw);
    padding-top: 2rem;
}

/*``````````````IMAGES``````````````````*/

.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
#main-img{
    height: 28rem;
    width: 28rem;
    border-radius: 1rem;
    cursor: pointer;
}

.thumbnails{
    display: flex;
    justify-content: space-between;
}

.thumbnails img{
    height: 6rem;
    height: 6rem;
    border-radius: 1rem;
    cursor: pointer;
}

.thumbnails :hover{
    opacity: 50%;
}

.active-thumb {
    border: 3px solid var(--orange);
    opacity: 15%;
}

.slider-icons {
    display: none;
}

.slider{
    display: none;
}


/*`````````````LIGHT-BOX```````````````````````*/

.lightbox{
  display: none;
}

.lightbox.active-lightbox{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.75);
    z-index: 10;
  }

 .lightbox #main-img{
    height: 32rem;
    width: 32rem;
}

.lightbox .thumbnails img{
    height: 7rem;
    height: 7rem;
}

  .lightbox .thumbnails {
    display: flex;
    gap: 1.1rem;
  }


/*````````````````CONTENT````````````````````*/

.company{
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.2rem) ;
    padding-bottom: 1rem;
}

.heading{
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
}

.text-content{
    color: var(--dark-grayish-blue);
    padding-block: 2.5rem;
}

.discount{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.discounted-price{
    font-size: 2rem;
    font-weight: 700;
}

.discount-percent{
    color: var(--orange);  
    background-color: var(--pale-orange);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.actual-price{
    color: var(--grayish-blue);
    font-weight: 700;
    padding-block: 1rem;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.buttons{
    display: flex;
    gap: 2vw;
}


.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grayish-blue);
    width: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.minus{
    height: 0.35rem;
    cursor: pointer;
}

.plus{
    height: 1rem;
    cursor: pointer;
}

.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 40%;
    border-radius: 0.5rem; 
    color: white;
    cursor: pointer; 
    gap: min(2rem, 4%); 

}

.cart-btn img{
    filter: brightness(5);
}

/*````````````BUTTONS````````````````````````*/

@media only screen and (max-width : 1045px){
.buttons{
    flex-direction: column;
    gap: 1rem;
}
    
.quantity{
    width: 100%;
}

.cart-btn{
    width: 100%;
    padding-block: 1rem;
}
        
}


/*````````````````MOBILE DESIGN````````````````````*/

@media only screen and (max-width : 890px){

.container{
    flex-direction: column;
    padding-bottom: 3rem;
}

.product-img{
    display: none;
}


/* .product-img{
    display: flex;
    overflow-x: hidden;
    height: 20rem;
}

#main-img{
    width: 100vw;
    object-fit: cover;
    border-radius: 0;
} */

.thumbnails{
    display: none;
}

.thumbnails img{
    width: 15vw;
    height: auto;
}

.text-content{
    font-size: 1rem;
    padding-block: 1.5rem;
}

.price-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.discounted-price{
    font-size: 1.5rem;
}

.discount-percent{
    font-size: 1rem;
}

.actual-price{
    font-size: 1.2rem;
    padding-block: 0;
}

.lightbox.active-lightbox {
    display: none;
}

/*````````````````SLIDER`````````````*/

.slider{
    display: block;
    position: relative;
    width: 100vw;
}

.slide{
    width: 100%;
    object-fit: cover;
    height: 20rem;
    overflow-y: hidden;
}

.slider-icons{
    display: block;
}

.previous, .next{
    width: 2rem;
    height: 2rem;
    padding: 1.5rem;
    cursor: pointer;  
    border-radius: 50%;   
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 9rem;
}

.previous{
    left: 1rem;   
}

.next{
    right: 1rem;
}



}

